@import url('https://fonts.googleapis.com/css2? family= Mooli & family= Nunito:ital,wght@1,700 & display=swap');
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
nav h1 {
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 10rem;
}
.movie-info{
  display: flex;
}

.link_button {
  margin-top: -20px;
  margin-bottom: 10px; 
  padding: 0.7rem 3rem;
  border: none;
  border-radius: 15px;
  color: #212121;
  background-color: #ffffff;
  font-weight: 1000;
  font-size: 12px;
  cursor: pointer;
  transition: all 250ms;
}

.link_button:hover {
  transform: scale(1.1);
}

.img_movie {
  width: 25%;
  margin: 0 10%;
}

.movie-desc {
  text-align: justify;
}
.descricao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 1%;
  width: 90vw;
  height: 20vh;
}
.descricao h4 {
  font-family: 'Mooli', sans-serif;
font-family: 'Nunito', sans-serif;
  font-size: 20px;
}
.descricao h3 {
  font-size: 25px;
}
.descricao p {
  width: 40vw;
    font-family: 'Mooli', sans-serif;
  text-indent: 30px;
}
.favorito-button {

  padding: 5px 5px;
  border: none;
  cursor: pointer;
}

/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #f3f0f2, #f7f1f5);
  color: #212121;
 margin-right: 2rem;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.actions{
  margin-top: -130px;
  margin-left: 380px;
}
.related-movies{
  h1 {
    text-align: center;
    margin: 4rem 0;
}
}

.related-movie-list{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 3rem;
  row-gap: 4rem;
}

.related-movie{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top:2rem;
 

}
.relacinadoos{
  margin-top: 10rem;
  margin-left: 2rem;
  font-size: 2vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
  width: 250px;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
span {
  font-weight: bold;
  font-size: 120%;
  text-align: center;
}
a {
  transition: all 0.3s;
}
a:hover {
  transform: scale(1.1);
}
