@import url('https://fonts.googleapis.com/css2? family= Mooli & family= Nunito:ital,wght@1,700 & display=swap');
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
nav h1 {
  text-align: center;
}

.container {
  text-align: center;
  margin-top: 10rem;
}
.movie-info{
  display: flex;
}

.link_button {
  margin-top: 5px;
  padding: 0.7rem 3rem;
  border: none;
  border-radius: 15px;
  color: #212121;
  background-color: #ffffff;
  font-weight: 1000;
  font-size: 12 px;
  cursor: pointer;
  transition: all 250ms;
}
.link_button:hover{
  transform: scale(1.1);
}

.img_movie {
  width: 25%;
  margin: 0 10%;
}

.movie-desc {
  text-align: justify;
}
.descricao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 3%;
  width: 90vw;
}
.descricao h4 {
  font-family: 'Mooli', sans-serif;
font-family: 'Nunito', sans-serif;
  font-size: 20px;
}
.descricao h3 {
  font-size: 25px;
}
.descricao p {
  width: 40vw;
    font-family: 'Mooli', sans-serif;
  text-indent: 30px;
}
.favorito-button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.favorito-button.favorito-remover {
  background-color: red; /* ou a cor desejada para "Remover dos Favoritos" */
}
